﻿@model Marfrig.MRCG.Domain.ViewModels.CompraGadoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Compra de Gado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pecuarista.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pecuarista.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CompraGadoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>