﻿@using MVCGrid.Web
@model IEnumerable<Marfrig.MRCG.Domain.ViewModels.CompraGadoViewModel>

@{
    ViewBag.Title = "Consulta de compra de gado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/MVCGridHandler.axd/script.js"></script>

<div class="row">
    <div class="col-md-1">
        <input type="submit" value="Pesquisar" class="btn btn-secondary">
    </div>
    <div class="col-md-1">
        <input type="submit" value="Imprimir" class="btn btn-secondary">
    </div>
    <div class="col-md-1">
        <input type="submit" value="Adicionar" class="btn btn-secondary" onclick="location.href='@Url.Action("Create", "CompraGado")'">
    </div>
    <div class="col-md-1">
        <input type="submit" value="Alterar" class="btn btn-secondary">
    </div>
    <div class="col-md-1">
        <input type="submit" value="Excluir" class="btn btn-secondary" onclick="location.href='@Url.Action("Delete", "CompraGado")'">
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-2 text-right">
        Id:
    </div>
    <div class="col-md-2 text-left">
        @Html.TextBox("Id", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-1 text-right">
        Pecuarista:
    </div>
    <div class="col-md-2 text-left">
        @Html.DropDownList("Pecuaristas", null, htmlAttributes: new { @class = "form-control" })
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-2 text-right">
        Data de Entrega de:
    </div>
    <div class="col-md-2 text-left">
        @Html.TextBox("DataEntrega", null, htmlAttributes: new { @class = "form-control", @type = "date" })
    </div>
    <div class="col-md-1 text-right">
        Até:
    </div>
    <div class="col-md-2 text-left">
        @Html.TextBox("DataAte", null, htmlAttributes: new { @class = "form-control", @type = "date" })
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        @Html.MVCGrid("CompraGadoGrid")
    </div>
</div>