﻿@model IEnumerable<Marfrig.MRCG.Domain.ViewModels.AnimalViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Animais cadastrados:</h2>

<p>
    @Html.ActionLink("Novo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Preço
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AnimalId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AnimalId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.AnimalId })
        </td>
    </tr>
}

</table>